@font-face {
    font-family: lineal;
    src: url('fonts/Lineal_Medium.otf');
}

@font-face {
    font-family: lucette;
    src: url('fonts/Lucette_Regular.ttf');
}

/* mettre la scrollbar à l'ext */
/* poursuivre le js */


body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    display: grid;
    height: 100vh;
    /* overflow: scroll; */
    box-sizing: border-box;
}


/* header {

    grid-column: 1/17;
    grid-row: 1/2;
    display: grid;
    background-color: yellow;
} */
#container {
    grid-column: 4/12;
    grid-row: 1;
    /* border: solid 1px rgb(0, 0, 0); */
    display: grid;
  
    }

/* main {
    background-color: antiquewhite;
    grid-column: 1/17;
    grid-row: 2/17;
} */

aside#left {
    height: 100%;
    /* background-color: aqua; */
    grid-column: 1/4;
    grid-row: 1/17;
    background-color: rgb(0, 0, 0);

}



#index {
    /* height: 100%; */
    /* background-color: aqua; */
    /* grid-column: 1/4;
    grid-row: 1/2; */
    /* background-color: rgb(171, 192, 133); */
    /* margin: 0;
    padding: 0; */
    grid-column: 16/17;
    grid-row: 1;
}

aside#right {
    height: 100%;
    /* background-color: rgb(28, 65, 65); */
    grid-column: 12/17;
    grid-row: 1/17;
    background-color: rgb(238, 238, 238);
    display: grid;
}

#motsCles {
    overflow-y: scroll;
    text-align: left;
    font-size: 14px;
    height: 100%;
    color: white;
}

#motsCles h3 {
    cursor: pointer;
    user-select: none;
    margin-left: 10%;
    font-family: lineal;
    font-size: 1.5em;
    padding-left: 2%;
    border-left: solid 2px rgb(255, 255, 255);

}


#motsCles h3:hover {
    border-bottom: solid 2px rgb(255, 122, 139);
    border-left: solid 2px rgb(255, 122, 139);;
    color: rgb(255, 122, 139);;
}


#motsCles h3.decale {
    margin-left: 80px;
}


#biblio {
    text-align: left;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(255, 255, 255);
}

.texte {
    display: grid;
    grid-column: 1/8;
}

#search {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    /* border: solid 1px blue;  */
}

.info {
    color: rgb(0, 0, 0);
    font-family: 'lucette';
    /* background-color: brown; */
    margin: 0;
}

h1 {

padding: 2% 0 0 2%;
font-family: 'lineal';
font-size: 1.5em;
color: rgb(0, 0, 0);
margin: 0;
grid-column: 15/17;
}


ul { 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0;
    padding: 0;
    /* background-color: brown; */
}        


ul li {
    display: inline-flex;
    font-family: 'lineal';
}

ul :nth-last-child(1) {
    /* background-color: aqua; */
    padding: 10px;
    grid-column: 8/9;
    border: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

ul :nth-last-child(2) {
    background-color: rgb(0, 0, 0);
    border-top: solid 1px rgb(35, 150, 79);
    border-right: solid 1px rgb(35, 150, 79);
    box-sizing: content-box;
    padding: 10px;
    grid-column: 5/8;
    color: white;
}

ul :nth-last-child(3) {
    background-color: rgb(35, 150, 79);
    border: solid 1px rgb(35, 150, 79);
    padding: 10px;
    grid-column: 1/5;
}

.cit {
    color: rgb(0, 0, 0);
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: repeat(1, 2fr);
    padding: 2% 4% 2% 4%;
    font-family: 'lucette';
    font-size: 18px;
    border-bottom: dotted 1px black ;
}


.cit:nth-of-type(2n) {
    background-color: rgb(211, 211, 211);
}

.cit:nth-of-type(2n+1) {
    background-color: rgb(255, 255, 255);
}

.cit:nth-of-type(2n+1):hover,
.cit:nth-of-type(2n):hover {
    background-color: yellow;
}

.button {
    appearance: none;
    cursor: pointer;
    grid-column: 5/6;
    /* height: 100%; */
    background-color: black;
    color: white;
    border: none;
    font-family: 'lineal';
    font-size: 1.5em;
}

.button:hover {
    background-color: rgb(35, 150, 79);
}

.light {
    grid-column: 1/5;
    font-family: 'lineal';
    font-size: 2em;
    padding:1%;
    outline: none;
    background-color: rgb(255, 122, 139);
    border: none;
}
